global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'hono-backend'
    metrics_path: /metrics
    static_configs:
      - targets: ['${HONO_BACKEND_HOST}']

remote_write:
  - url: ${GRAFANA_CLOUD_API_URL}
    basic_auth:
      username: ${GRAFANA_CLOUD_API_ID}
      password: ${GRAFANA_CLOUD_API_KEY}
